doctype html
html
  head
    title= title 
    link(rel='stylesheet', href='/stylesheets/styleContact.css')
  body
   div.navBar#nav
     a(href = "/")   #{phrase}
     a(href = "/services")  Our Services
     a(href = "/contact")  Contact us
   div
     p.textContent#text  THIS IS THE CONTACT PAGE ✓
     p #[span this is the start of the para] #[a(href="https://www.google.fr/") a link] #[span and this is the rest of the paragraph]