doctype html
html
  head
    title= title 
    link(rel='stylesheet', href='/stylesheets/styleServices.css')
  body


div.navBar#nav
     a(href = "/")   Home page
     a(href = "/services")  Our Services
     a(href = "/contact")  Contact us
div
     p.textContent#text  THIS IS THE SERVICES PAGE ✓