.container {
  position: absolute;
}

.card {
  margin-top: 0;
  margin-left: 0;
  height: 600px;
  width: 48%;
  position: relative;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  margin-top: 4%;
  margin-bottom: 10%;
  margin-left: 2%;
  width: 40%;
  height: 500px;
  position: relative;
  size: 60px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*title*/
text {
  margin-top: 20%;
  margin-bottom: 10%;
  width: 40%;
  height: 10%;
  position: relative;
  float: right;
  text-align: center;

  size: 3em;
}

.button_circular {
  margin-top: 30%;
  float: right;
  position: relative;
}

.input {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 0;
  border-radius: 60px;
  height: 40px;
  text-align: center;
  color: #678;
  width: 85%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.icon {
  margin-right: 15px;
  float: right;
  position: relative;

}

.filter {
  margin-right: 0;
  float: right;
  position: relative;
}
